{% extends "search/base_result.html" %}

{% block title %}
Doctor Information
{% endblock %}

{% block result %}
<h1><center>Doctor Information</center></h1>

FOUND: {{ npidatas|length}}
{% if  need_details %}
+ 
  <b style="color:red">there are very more results, please detail your query</b>
{% endif %}

<table border="1">
  <tr>
    <td>NPI</td>	
    <td>First Name</td>	
    <td>Last Name</td>	
    <td>Credential	</td>
    <td>Taxonomy	</td>
    <td>Description	</td>
    <td>Telephone	</td>
    <td>Address	</td>
    <td>City</td>	
    <td>State	</td>
    <td>Postal Code</td>
  </tr>

{% for obj in npidatas %}
  <tr>
    <td>{{ obj.npi }}</td>
    <td>{{ obj.first_name }}</td>
    <td>{{ obj.last_name_legal_name }}</td>
    <td>{{ obj.credential_text }}</td>
    <td>{{ obj.healthcare_taxonomy_code_1 }}</td>
    <td>TODO:{{ obj.authorized_official_title_or_position }}</td>
    
    <td>{{ obj.business_mailing_address_telephone_number }}</td>
    <td>{{ obj.first_line_business_mailing_address }}</td>
    <td>{{ obj.business_mailing_address_city_name }}</td>
    <td>{{ obj.business_mailing_address_state_name }}</td>
    <td>{{ obj.business_mailing_address_postal_code }}</td>
  </tr>
  
{% endfor %}
</table>


{{ test }}
{% endblock %}
